<!doctype html>
<html lang="ko">
    <head>
        <meta charset="utf-8">
        <title>관리자화면</title>
        <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <script>
        $( function() {
            $( "#datepicker" ).datepicker();
        } );
        </script>
        <style>
            .btn{width:50px; height:50px; background:none; border:none; padding:0;}
            /* button은 태생적으로 padding 이 있다. */
            button img{width:100%;}
        </style>
    </head>

    <body>
    <form action="#" method="post">
            <h1>관리자 페이지입니다</h1>
            <p>
                <button type="submit">회원 관리</button>
                <button type="submit">회원 배송조회</button>
                <button type="submit">문자일괄 전송</button>
                <hr/>
                <input class="btn" type="image" src="send.png" alt="send"/>
                <button class="btn" type="submit"><img src="send.png" alt="send"></button>
                <!-- 버튼은 항상 무조건 테두리가 생긴다!!! -->
                <!-- button은 종류 태그가 있다!
                input은 종류 태그가 없다!
                iconfinder.com -->
            </p>
    </form>

    </body>

</html>
